# Environment Variables
# Do NOT commit your actual .env file.
MONGO_URI=mongodb://localhost:27017
DB_NAME=echelon_db
PORT=8080
JWT_SECRET=super_secret_key_change_me
BREVO_API_KEY=your_brevo_api_key_here
